.Car {
  margin-bottom: 10px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  transition: border, box-shadow 0.3s;

  &:hover {
    border: 2px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3);
    cursor: pointer
  }
}

.input {
  margin-right: 10px;
}

.input:active, .input:focus {
  outline: none;
}

.input {
  &.green {
    border: 1px solid greenyellow;
  }

  &.red {
    border: 1px solid orangered;
  }

  &.bold {
    border: 2px solid greenyellow;
    font-weight: bold;
  }
}
